$primary-color: #030164;
$secondary-color: #72b7e2;

$heading1_size: 52rem;
$heading2_size: 48rem;
$heading3_size: 32rem;
$heading4_size: 22rem;
$heading5_size: 20rem;
$heading6_size: 52rem;

$primary-font-family: "Ubuntu";
$secondary-font-family: "Roboto";
